<%= form_with(model: @post, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="post_box">
        <div class="title_field">
          <%= form.text_field :title, placeholder: "タイトル" %>
        </div>
        <div class="content_filed">
          <%= form.text_field :content, placeholder: "本文" %>
        </div>
        <div align="center">
          <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
          <%= form.file_field :image%>
          <%= form.hidden_field :image_cache %>
        </div>
        <div class="sumbit_btn">
          <%= form.submit "投稿する" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
